.kpi-def-container {
  display: flex;
  justify-content: space-between;

  .exiting-kpis-list {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .create-kpi-def-form {
    flex-grow: 1;
  }
}