.kpi-def-container {
  display: flex;
  justify-content: space-between;

  .exiting-kpis-list {
    display: flex;
    flex-direction: column;
    width: 35%;

    .ant-list {
      height: calc(100vh - 15rem);
      overflow: auto;
    }

    .ant-card {
      width: 100%;
    }
  }
  .create-kpi-def-form {
    flex-grow: 1;
  }
}